* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 252, 222);
  height: 100vh;

  /* Initiating The Flexbox Model */
  display: flex;

  justify-content: center;
  align-items: center;
}

/* Shared Styles for Sections */
.section {
  width: 400px;

  background-color: rgb(166, 248, 159);
}

/* imges */
img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: left;
}

/* Date */
.section .content p:first-of-type {
  text-align: center;
}

/* headline */
.section .content h3 {
  text-align: right;
}

/* Improvements */
.section {
  margin: 0 15px 0;
}

.section .content p:first-of-type,
.section .content h3,
.section .content p:last-of-type {
  text-align: left;
  margin-top: 15px;
  margin-left: 25px;
}

.section .content p:last-of-type {
  margin-bottom: 20px;
  margin-right: 20px;
  line-height: 1.6;
}
